body {
  /* margin: 0; */
  font-family: Arial, sans-serif;
  background-color: rgb(11, 13, 21);
  color: rgb(246, 246, 246);
  padding: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-top: 100px;

}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
}
.image-section {
  position: relative;
  margin-right: 30px;
}
.image-section .image-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}

.image-section {
  position: relative;
}
.image-frame {
  position: absolute;
  /* top: 15px; 
  left: 15px; */
  width: 420px; 
  height: 280px;
  background-color: rgb(237, 185, 70);
  border-radius: 20px;
  z-index: -1;
}
.image-wrapper img {
  width: 300px;
  border-radius: 20px;
  display: block;
  position: relative;
}

.image-section img {
  width: 400px;
  border-radius: 20px;
}
.text-section {
  max-width: 500px;
}
.text-section h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(246, 246, 246);
  margin: 0 0 10px;
}
.text-section h2 span {
  color: rgb(237, 185, 70);
}
.text-section p {
  font-size: 1em;
  line-height: 1.5;
  margin: 10px 0 20px;
  color: rgb(150, 150, 170);
}
.text-section .btn {
  background-color: rgb(237, 185, 70);
  color: rgb(11, 13, 21);
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.text-section .btn:hover {
  background-color: rgb(255, 200, 80);
}