body {
  background-color: rgb(11, 13, 21);

  font-family: Arial, sans-serif;
  color: rgb(236, 239, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 0;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  color: rgb(144, 153, 171);
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.5;
}
.main-container {
  max-width: 1240px; 
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 29, 40);
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist li {
  list-style: none;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000l;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-between;
}

.contact-info p {
  display: flex;
  align-items: center;
  /* margin: 10px auto; */
}
.contact-info {
  text-align: center;
}
.contact-info span {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

.contact-info b {
  color: rgb(255, 212, 59);
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms input {
  background-color: rgb(30, 35, 53);
  border: none;
  padding: 10px;
  color: rgb(236, 239, 244);
  font-size: 0.9rem;
  resize: none;
  margin-bottom: 25px;
  width: 220px;
  font-family: Arial, sans-serif;
}

.forms textarea {
  background-color: rgb(30, 35, 53);
  border: none;
  padding: 10px;
  color: rgb(236, 239, 244);
  font-size: 0.9rem;
  resize: none;
  width: 400px;
  height: 100px;
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
}

.contact-me {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 212, 59);
}

.contact-me:hover{
  cursor: pointer;
}

img {
  width: 30px;
  margin-right: 10px;
}

.footer {
  margin-top: 100px;
}

.social-icons:hover{
  cursor: pointer;
  color: yellow;
}


@media (max-width: 1024px) {
  body{
    padding: 25px;
}
}


@media (max-width: 768px) {
  body{
    padding: 25px;
}
  h2 {
    font-size: 2rem;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navlist {
    position: absolute;
    top: 7%;
    right: 0;
    width: 250px;
    background-color: rgb(24, 29, 40);;
    padding: 50px 20px;
    transition: all 0.55s ease;
    text-align: center;
    display: none;
  }

  .navlist a{
    display: block;
    margin-left: 0;
    margin: 10px 0;
  }

  .bx-x {
    transform: rotate(90deg);
  }
  
  .navlist.open {
    display: block; 
  }

  p {
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .forms textarea {
    width: 300px;
    font-size: 0.8rem;
  }

  .forms input {
    width: 180px;
    font-size: 0.8rem;
  }
  .footer{
    margin-top: 60px;
  }

  .contact-info p {
    margin: 15px 0;
  }

  
}

@media (max-width: 480px) {

  body{
    padding: 16px;
}

  h2 {
    font-size: 1.5rem;
  }

  p {
    max-width: 300px;
    font-size: 0.85rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-info b{
    font-size: 0.9rem;
  }

  .contact-info span{
    font-size: 0.8rem;
  }

  .contact-info p {
    margin: 15px 0;
  }

  .forms textarea {
    width: 300px;
  }

  .footer{
    margin-top: 40px;
  }
  .top-paragraph{
    margin: 10px;
  }

}

@media (max-width: 320px) {

  body{
      padding: 16px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    max-width: 300px;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-info b{
    font-size: 0.8rem;
  }

  .contact-info span{
    font-size: 0.7rem;
  }

  .contact-info p {
    margin: 15px;
  }

  .forms textarea {
    width: 250px;
    font-size: 0.7rem;
  }

  .forms input {
    width: 180px;
    font-size: 0.7rem;
  }

  .social-icons{
    margin-top:40px;
  }

  .footer{
    margin-top: 40px;
  }
}