body {
  background-color: rgb(24, 29, 40);;
  font-family: Arial, sans-serif;
  color: rgb(236, 239, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 0;
}

.main-container {
  max-width: 1240px; 
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 23, 39);
  position: relative;
  z-index: 10;
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  z-index: 10;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist li {
  list-style: none;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 20px;
}

.paragraphs {
  color: rgb(144, 153, 171);
  margin-bottom: 20px;
  margin-top: 40px;
  line-height: 1.5;
}

.services-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.service-card {
  background-color: rgb(18, 23, 39);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 40px;
  margin-bottom: 20px;
}

.service-card h3 {
  color: rgb(255, 212, 59);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  color: rgb(144, 153, 171);
  font-size: 0.9rem;
}

footer {
  color: #f5f5f5;
  padding: 40px 0;
  text-align: center;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
}


/* responsive */

@media (max-width: 1024px) {
  header {
    transition: 0.2s;
  }
}

@media (max-width: 768px) {

  body{
    padding: 25px;
  }

  .services-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 0 auto;
    
  }
  section {
  display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
  }

  .paragraphs{
    line-height: 1.5;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navlist {
    position: absolute;
    top: 7%;
    right: 0;
    width: 250px;
    background-color: rgb(18, 23, 39);
    padding: 50px 20px;
    transition: all 0.55s ease;
    text-align: center;
    display: none;
  }

  .navlist a{
    display: block;
    margin-left: 0;
    margin: 10px 0;
  }

  .bx-x {
    transform: rotate(90deg);
  }
  
  .navlist.open {
    display: block; 
    position: absolute;
    z-index: 10;
  }
  .service-card{
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  body{
    padding: 16px;
  }

  h2 {
    font-size: 2rem;
  }

  .paragraphs{
  max-width:400px;
    font-size: 0.9rem;
  }

  body{
    padding: 25px;
  }

  .service-card h3 {
    font-size: 1rem;
  }

}

@media (max-width: 320px) {

  body{
    padding: 16px;
  }

  h2 {
    font-size: 1.8rem;
  }
  
  .paragraphs{
    font-size: 0.8rem;
  }

  .service-card h3 {
    font-size: 1rem;
  }

  .footer-bottom p{
    font-size: 0.8rem;
  }

}