body {
  background-color: rgb(24, 29, 40);;
  
  font-family: Arial, sans-serif;
  color: rgb(236, 239, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 0;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  color: rgb(144, 153, 171);
  max-width: 500px;
  /* text-align: center; */
  margin-bottom: 20px;
}

.services-container {
  display: flex;
  gap: 30px;
}

.service-card {
  background-color: rgb(18, 23, 39);
  border-radius: 20px;
  width: 280px;
  padding: 30px;
  /* text-align: center; */
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 40px;
  margin-bottom: 20px;
}

.service-card h3 {
  color: rgb(255, 212, 59);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  color: rgb(144, 153, 171);
  font-size: 0.9rem;
}