body {
  /* width: 100%; */
  background-color: rgb(24, 29, 40);
  /* margin: 0; */
}

.main-container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgb(11, 13, 21);
}


.logo {
  font-size: 1.5em;
  color: rgb(237, 185, 70);
  font-weight: bold;
}
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist li {
  list-style: none;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000l;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 80px;
  /* width: 100%; */
  padding: 0;
}

.right-writtings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  color: rgb(237, 185, 70);
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.description {
  color: rgb(90, 96, 115);
}

.contact-me {
  background-color: rgb(237, 185, 70);
  border-radius: 5px;
  width: max-content;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
}
.text-section {
  max-width: 500px;
}
.text-section h2 {
  font-size: 1em;
  color: rgb(237, 185, 70);
  margin: 0 0 10px;
}
.text-section h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0;
  color: white;
}
.text-section p {
  font-size: 1em;
  line-height: 1.5;
  margin: 10px 0 20px;
  color: rgb(150, 150, 170);
}
.text-section .btn {
  background-color: rgb(237, 185, 70);
  color: rgb(11, 13, 21);
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.text-section .btn:hover {
  background-color: rgb(255, 200, 80);
}
.image-section img {
  width: 100%;
  border-radius: 20px;
}

/* responsive */

@media (max-width: 1024px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .image-section {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
  .image-section {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navlist {
    position: absolute;
    top: 7%;
    right: 0;
    width: 250px;
    background-color: rgb(11, 13, 21);
    padding: 50px 20px;
    transition: all 0.55s ease;
    text-align: center;
    display: none;
  }

  .navlist a{
    display: block;
    margin-left: 0;
    margin: 10px 0;
  }

  .bx-x {
    /* Style for the menu icon when toggled (e.g., rotating or changing appearance) */
    transform: rotate(90deg);
  }
  
  .navlist.open {
    display: block; /* Show navlist when 'open' class is added */
  }
}

@media (max-width: 480px) {

  .image-section {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .text-section .btn {
    padding: 5px 10px;
    font-size: 12px;

  }

  .text-section h1{
    font-size: 25px;

  }

  .text-section p {
    font-size: 11px;
  }

}
